extends layout

block content
  h1= title
  .ui.green.button#create
    |   Create Post
  br
  br
  .ui.blue.button#read
    |   Read Post
  br
  br
  .ui.orange.button#update
    |   Update Post
  br
  br
  .ui.red.button#destroy
    |   Destroy Post