html,
body {
  padding: 0;
  margin: 0;
}

.general{
  height: 100vh;  
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:30px;
}

.homepage{
  position: fixed;
  position:relative; 
  text-align: center;
  bottom: 200px;  color:rgb(223, 213, 213);
}

.homepage-about{
  color:rgb(223, 213, 213);
  position: fixed;
  position:relative; 
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.homepage-sub{
  color:rgb(223, 213, 213);
  position:relative; 
  text-align: left;
  width: 900px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer{
  color:black;
  position:fixed; left:600px; bottom:20px;
  font-size: 10;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-about{
  color:rgb(223, 213, 213);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:20px;
  position: fixed;
  left: 42%;
  bottom: 20px;
  margin: 0 auto;
}

.viewPageSource{
  color:rgb(223, 213, 213);
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: fixed;
  left: 47%;
  bottom: 20px;
  margin: 0 auto;
}

.enter{
  color: rgb(0, 0, 0);
  position:fixed; left:590px; bottom:350px;
}

.draw{
  color: azure;
  position:fixed; left:590px; bottom:280px;
}

.draw-2{
  color: azure;
  position:fixed; left:590px; bottom:210px;
}

.button {
  /* background-color: #4CAF50; Green */
  border: none;
  color: white;
  padding: 12px 32px;
  /* text-align: center; */
  /* text-decoration: none; */
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  transition-duration: 0.5s;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 1px solid black;
  border-radius: 6px;
  opacity: 0.5;
}

.button1:hover {
  background-color: grey;
  color: white;
  border-radius: 6px;
  opacity: 0.5;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 1px solid black;
  border-radius: 6px;
  opacity: 0.5;
  padding: 12px 41px;

}

.button-draw {
  background-color: white; 
  color: black; 
  border: 1px solid black;
  border-radius: 6px;
  opacity: 0.5;
  padding: 12px 67px;

}

.button2:hover {
  background-color: grey;
  color: white;
  border-radius: 6px;
  opacity: 0.5;
}

.wager{
  color:rgb(223, 213, 213);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:30px;
  position: fixed;
  position:relative; 
  text-align: center;
  bottom: 150px;
  margin: 0 auto;
}

.card-key{
  position:fixed; left:250px; bottom:350px;
}

.card-secret{
  position:fixed; left:250px; bottom:270px;
}

.card-commitment{
  position:fixed; left:250px; bottom:195px;
}

.commitment {
  background-color: white; 
  color: black; 
  border: 1px solid black;
  border-radius: 6px;
  opacity: 0.5;
  padding: 12px 42px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.key {
  background-color: white; 
  color: black; 
  border: 1px solid black;
  border-radius: 6px;
  opacity: 0.5;
  padding: 12px 73px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.secret {
  background-color: white; 
  color: black; 
  border: 1px solid black;
  border-radius: 6px;
  opacity: 0.5;
  padding: 12px 65px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.gist {
  position:fixed; 
  left: 37%;
  bottom: 130px;
  color:rgb(223, 213, 213);
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.gist-top{
  position:fixed; 
  text-align: left;
  bottom: 100px;
  color:rgb(223, 213, 213);
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.status {
  position:relative; 
  text-align: center;
  bottom: 250px;
  color:rgb(223, 213, 213);
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.smaller-input {
  border-radius: 7px;
  width: 200px;
}

.form-class {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}

.form-class-top {
  position:fixed; left:450px; bottom:255px;
}

.b1 {
  background-color: white; 
  color: black; 
  border: 1px solid black;
  border-radius: 6px;
  opacity: 0.5;
  padding: 12px 45px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.b2 {
  background-color: white; 
  color: black; 
  border: 1px solid black;
  border-radius: 6px;
  opacity: 0.5;
  padding: 12px 71px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.b3 {
  background-color: white; 
  color: black; 
  border: 1px solid black;
  border-radius: 6px;
  opacity: 0.5;
  padding: 12px 80px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.button-group {
  position:fixed; left:750px; bottom:325px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.goback {
  position:fixed; left:100px; top:105px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: azure;
}

.commitment-new {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  position:fixed; left:200px; bottom:180px;
}

.proof-new {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  position:fixed; left:200px; bottom:115px;
  width: 950px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.drop-new {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  position:fixed; left:200px; bottom:50px;
}

.test-lottery{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  position:fixed; left:200px; bottom:40px;
  color:antiquewhite;
}

.test{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color:antiquewhite;
}

.Here-new{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  position:fixed; right:525px; top:162px;
  color:antiquewhite;
}

.pairs{
  color:yellow;
}
